<DOCTYPE html>
  <html lang="en">
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Bootstrap Dahil Etme</title>
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
      <link rel="stylesheet" href="girisyap.css">

    </head>

{% include 'navbar.html' %} {% if sayfa == 'login' %}
<div>
  <form method="POST" action="">
    {% csrf_token %} {% if messages %}
    <ul class="messages">
      {% for message in messages %}
      <li>{{message}}</li>
      {% endfor %}
    </ul>
    {% endif %}
<body>
   
    <div class="container">
        <h1>Hoş geldiniz</h1>
        <form action="kontrol.php" method="post">
            <label>Kullanıcı Adı:</label>
            <input type="text" name="username" placeholder="Kullancı Adınızı" required>
            <label >Şifre:</label>
            <input type="password" name="sifre" placeholder="Şifrenizi Giriniz" required>
            <button type="submit" class="btn btn-primary mb-2">Confirm identity</button>
 
        </form>
    </div>
</body>
</html>
 
 
<body>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>
</body>
</html>
{% else %}
<div>
  <form method="POST" action="">
    {% csrf_token %} {% if messages %}
    <ul class="messages">
      {% for message in messages %}
      <li>{{message}}</li>
      {% endfor %}
    </ul>
    {% endif %} {{form.as_p}}
    <input type="submit" value="Kayıt Ol" />
  </form>
  <a href="{% url 'login' %}"> Giriş Yap</a>
</div>
<a href="{% url 'Home' %}">Anasayfa</a>
{% endif %}
